@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  0 - 600px: Phone
  600 - 900px : Tablet Portrait
  900 - 1200px : Tablet Landscape
  1200 - 1800px: Normal styles
  1800px+: Big Desktop
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kosugi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
:root {
  --color-primary: #32cd32;
  --color-primary-light: #6fdc6f;
  --color-primary-dark: #2db82d;
  --color-secondary: #f35588;
  --color-tertiary: #ffca3a;
  --color-quaternary: #00aeff;
  --color-light-1: #fff;
  --color-light-2: #faf9f9;
  --color-dark-1: #444;
  --color-dark-2: #666;
  --nav-bar-height-reg:7.5rem;
  --nav-bar-height-port:13.5rem;
  --nav-bar-height-smphone:16rem; }

  *,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

  body {
  box-sizing: border-box; }

  body {
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Kosugi", sans-serif;
  background: var(--color-light-2);
  color: var(--color-dark-1);
  line-height: 1.6; }
